.Container{
display: flex;

}
.Content{
    width: 100%;
}
.sideBar{
    min-height: 700px;
    
}
.Foot{
     position: relative;
     margin-top: 100px;
}
.post-card{
    margin: 20px 50px;


}
.hashtag{
    margin: 0px 3px;
}
.reaction{
    min-width: 100%;
    margin : 15px 0 0 0;
}
.create-post{
    margin: 20px 50px;

}
.Message{
    margin: 100px 50px;
}